{% extends "base.html" %}
<title>Notes</title>
{% block head %}
<script>
        function format_link(href,text) {
            output = "<a href=\"" + href + "\">" + text + "</a>"
            return output
        }
    
        function format_icon(href,icon) {
            icon = "<img src=\"" + icon + "\" alt=\"ABC\" width=\"42\" height=\"42\" border=\"0\">";
            output = "<a href=\"" + href + "\">" + icon + "</a>"
            return output
        }
        
        function format_note_cards(data) {
            function format_note_card(n) {
                delete_link = '<div class="float-right">' + format_icon("/remove/" + n.id,"/static/delete.png") + "</div>"
                card = `
                  <div class="card">
                    <div class="card-header">` + "4/25/2019 6:14PM" + `</div>
                    <div class="card-body">`   + n.text + `</div>
                    <div class="card-footer">` + delete_link + `</div>
                  </div>`
                return card;
            }
            notes_data = data["data"];
            output = '<div class="container">'
            for (i in notes_data) {
                output += format_note_card(notes_data[i]) + "<br>";
            }
            return output + "</div>";
        }

        $(document).ready(function() {
    
            $("#search_button").click(function() {
                filter = $("#search_text").val()
                $.get("/content/" + filter, function(data) {
                    $("#content").html(format_note_cards(data));
                });
            });
    
            $.get("/content/", function(data) {
                $("#content").html(format_note_cards(data));
            });
        });
    </script>
{% endblock %}
{% block body %}
    <br>
    <div id="content"></div>
    <form method="post" class="container" action="/notes">
        <div class="card">
            <div class="card-header bg-grey"><em>New Note<em></div>
            <div class="card-body">
                <input style="width:100%" type="text" id="note_text" name="note" value=""/>
                <hr>
                <input type="submit" style="float:right" id="submit_button" value="Save Note"/>
                <br>
            </div>
        </div>`
    </form>
{% endblock %}

